body.is-menu-active {
    overflow: hidden;
}

.menu-app {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: $fh-blue;
    transform: translateY(-100%);
    opacity: 0;
    transition: all .2s ease-in-out;
    overflow: auto;
    z-index: 10;
    color: white;
    &.is-active {
        transform: translateY(0);
        opacity: 1;
    }
}
.menu-app__wrap {
    padding: 20px;
    max-width: 960px;
    margin: 0 auto;
    @include min-bp(600px) {
        padding: 40px 48px;
    }
    .top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .right {
            display: flex;
            align-items: center;
            img {
                display: inline-block;
                width: 50px;
                height: 50px;
            }
            h1 {
                margin-left: 16px;
            }
        }
        button {
            background: none;
            border: none;
            padding: 8px;
            font-size: 2em;
        }
    }
    .bottom {
        text-align: center;
        a {
            display: block;
            color: white;
            text-decoration: none;
            text-align: center;
            padding: 24px 16px;
            max-width: 490px;
            margin: 0 auto;
            transition: all .2s ease-in-out;
            span {
                font-size: 2.3em;
                font-weight: 600;
                line-height: 1em;
                margin-bottom: 8px;
                display: block;
            }
            p {
                margin: 0;
                font-size: 1.1em;
            }
            &:hover {
                color: rgba(white, .8);
            }
        }
        .decorator {
            display: block;
            height: 2px;
            width: 30px;
            background: darken($fh-blue, 15%);
            margin: 0 auto;
        }
        div:last-of-type .decorator { display: none; }
    }
}
