/* Light */
@font-face {
    font-family: 'Pier Sans';
    src: url('../fonts/piersans-light-webfont.woff2') format('woff2'),
    url('../fonts/piersans-light-webfont.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Pier Sans';
    src: url('../fonts/piersans-lightitalic-webfont.woff2') format('woff2'),
    url('../fonts/piersans-lightitalic-webfont.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

/* Regular */
@font-face {
    font-family: 'Pier Sans';
    src: url('../fonts/piersans-regular-webfont.woff2') format('woff2'),
    url('../fonts/piersans-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pier Sans';
    src: url('../fonts/piersans-italic-webfont.woff2') format('woff2'),
    url('../fonts/piersans-italic-webfont.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

/* Medium */
@font-face {
    font-family: 'Pier Sans';
    src: url('../fonts/piersans-medium-webfont.woff2') format('woff2'),
    url('../fonts/piersans-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Pier Sans';
    src: url('../fonts/piersans-mediumitalic-webfont.woff2') format('woff2'),
    url('../fonts/piersans-mediumitalic-webfont.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

/* Bold */
@font-face {
    font-family: 'Pier Sans';
    src: url('../fonts/piersans-bold-webfont.woff2') format('woff2'),
    url('../fonts/piersans-bold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;

}
@font-face {
    font-family: 'Pier Sans';
    src: url('../fonts/piersans-bolditalic-webfont.woff2') format('woff2'),
    url('../fonts/piersans-bolditalic-webfont.woff') format('woff');
    font-weight: 600;
    font-style: italic;

}

/* Black */
@font-face {
    font-family: 'Pier Sans';
    src: url('../fonts/piersans-black-webfont.woff2') format('woff2'),
    url('../fonts/piersans-black-webfont.woff') format('woff');
    font-weight: 800;
    font-style: normal;

}

@font-face {
    font-family: 'Pier Sans';
    src: url('../fonts/piersans-blackitalic-webfont.woff2') format('woff2'),
    url('../fonts/piersans-blackitalic-webfont.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}



/* Light */
@font-face {
    font-family:'Avenir';
    src: url('../fonts/Avenir/AvenirLTStd-Light.eot');
    src: url('../fonts/Avenir/AvenirLTStd-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Avenir/AvenirLTStd-Light.woff2') format('woff2'),
        url('../fonts/Avenir/AvenirLTStd-Light.woff') format('woff'),
        url('../fonts/Avenir/AvenirLTStd-Light.svg#AvenirLTStd-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
}

/* Book */
@font-face {
    font-family:'Avenir';
    src: url('../fonts/Avenir/AvenirLTStd-Book.eot');
    src: url('../fonts/Avenir/AvenirLTStd-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Avenir/AvenirLTStd-Book.woff2') format('woff2'),
        url('../fonts/Avenir/AvenirLTStd-Book.woff') format('woff'),
        url('../fonts/Avenir/AvenirLTStd-Book.svg#AvenirLTStd-Book') format('svg');
    font-weight: 350;
    font-style: normal;
    font-stretch: normal;
}

/* Roman */
@font-face {
    font-family:'Avenir';
    src: url('../fonts/Avenir/AvenirLTStd-Roman.eot');
    src: url('../fonts/Avenir/AvenirLTStd-Roman.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Avenir/AvenirLTStd-Roman.woff2') format('woff2'),
        url('../fonts/Avenir/AvenirLTStd-Roman.woff') format('woff'),
        url('../fonts/Avenir/AvenirLTStd-Roman.svg#AvenirLTStd-Roman') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}












