body.calendar {
    background: $fh-sand;
    color: $font-color;
    .the-header {
        background: $fh-sand;
    }
    .the-header .right svg.burger-menu path {
        fill: $font-color;
        stroke: $font-color;
    }
    .container {
    }
}

.calendar .intro {
    display: flex;
    margin-bottom: 36px;
    p {
        font-size: 1.2em;
    }
}

.calendar .UpcomingEvents,
.calendar .PastEvents {
    display: flex;
    flex-wrap: wrap;
    .EventCard {
        margin: 0 20px 20px 0;
        width: 260px;
    }
}